{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "1" }}

<div class="common-page-content">
  <h2 class="section-title">{{ $page.Title }}</h2>

  <div class="row interests">
      {{ range $index, $item := $page.Params.highlights }}
        <div class="col-12 col-md-3 ">
          <div class="card-box"  style="height: 26rem; position:relative; text-align: center;">

            <div><i class="{{ $item.icon }}"></i></div>
            <div class="c-title" style="text-align: center;">
                {{ $item.name | markdownify  | emojify  }}
            </div>

            {{ range $index2, $item2 := $item.list_items }}
              <p class="highlight-item">{{ $item2 | markdownify  | emojify  }}</p>
            {{ end }}

            <div class="hl-position">
              <a href="{{ $item.link.url | relLangURL }}" class="highlight-link">
                  {{ $item.link.text | markdownify | emojify  }}
              </a>
            </div>
          </div>
        </div>
      {{ end }}
  </div>

</div>
