{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "1" }}

<div class="common-page-content home-featured-project">
  <h2 class="section-title">{{ $page.Title }}</h2>

  <div class="row interests">
      {{ range $index, $item := $page.Params.project_list }}
        <div class="col-12 col-md-6 ">
          <div class="card-box"  style="height: 13rem;">

            <div class="c-title" style="text-align: left;">
                {{ $item.name | markdownify  | emojify  }}
            </div>

            <div style="padding-bottom: 1rem;">{{ $item.desc | markdownify  | emojify  }}</div>

            <div>
              <a href="{{ $item.link | relLangURL }}" class="btn secondary">
                View Project
              </a>
            </div>
          </div>
        </div>
      {{ end }}
  </div>


</div>
